<!-- Card Message -->
<div class="card text-center bg-dark">
    <div class="card-header">
      Information
    </div>
    <div class="card-body">
      <p class="fs-6">Diese Webseite befindet sich noch im aufbau!<br>
      jegliche Texte dieser Seite dienen zur reinen Demonstration</p><hr>
      <p class="fs-6">Die Seite wurde mit Angular erstellt. <br> Die inhaltlichen Texte
      auf der Seite wurden größtenteils von der neuen ChatGPT KI erstellt.</p>
      <p class="card-text">Bei Fragen bin ich erreichbar unter
      </p>
      <a href="mailto:stefan@studenski.club" class="btn btn-primary">stefan@studenski.club</a>
    </div>
    <div class="card-footer text-muted">
      aktualisiert am 20.01.2023
    </div>
  </div>
