<!-- Card Message -->
<div class="card text-center bg-dark">
    <div class="card-header">
      Hinweis
    </div>
    <div class="card-body">
      <h5 class="card-title">Diese Webseite befindet sich noch im aufbau!</h5>
      <p>Die Seite wurde endlich mit Angular erstellt. <br> Die inhaltlichen Texte
      auf der Seite wurden größtenteils von der neuen Chat GPT KI erstellt.</p>
      <p class="card-text">Bei Fragen bin ich erreichbar unter <br>
        <!--<a href="stefan@studenski.club">stefan@studenski.club</a>-->
      </p>
      <a href="mailto:stefan@studenski.club" class="btn btn-primary">stefan@studenski.club</a>
    </div>
    <div class="card-footer text-muted">
      aktualisiert am 04.01.2023
    </div>
  </div>
