<div class="px-4 py-5 my-5 text-justify">
    <img class="d-block mx-auto mb-4" src="../../../assets/icons/icon-144x144.png" alt="" width="144" height="144">
    <div class="col-lg-8 mx-auto">
      <h1 class="display-5 fw-bold text-center">Homepage</h1>
      <div class="mx-auto mb-4 text-center">
        <span class="text-center"><i>Die Seite zieht bald auf eine neue Domain Adresse:</i></span>
        <br>
        <span class="text-center"><b><i>studenski.online</i></b></span>
      </div>

    </div>
  </div>