<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../assets/icons/icon-144x144.png" alt="" width="144" height="144">
    <div class="col-lg-6 mx-auto">
      <h1 class="display-5 fw-bold">Homepage Studenski</h1>
      <span><i>Demo Text</i></span>
      <p class="lead mb-4">
        Wir sind spezialisiert auf die Erstellung von professionellen und benutzerfreundlichen Websites. Egal, ob Sie eine neue Website für Ihr Unternehmen benötigen oder Ihre bestehende Website auf den neuesten Stand bringen möchten – wir sind der richtige Ansprechpartner für Sie.

        Unser Team besteht aus erfahrenen Webdesignern und -entwicklern, die sich stetig weiterbilden, um Ihnen immer das bestmögliche Ergebnis zu liefern. Wir setzen auf moderne Technologien und achten darauf, dass Ihre Website gut auf Suchmaschinen wie Google gefunden wird.
        
        Neben der Erstellung von Websites bieten wir auch Dienstleistungen wie die Erstellung von Landingpages, Online-Shops und die Optimierung Ihrer Webpräsenz für mobile Endgeräte an.
        
        Kontaktieren Sie uns noch heute und lassen Sie uns gemeinsam Ihr perfektes Webprojekt realisieren!
      </p>
    </div>
  </div>