<div class="px-4 py-5 my-5 text-justify">
    <img class="d-block mx-auto mb-4" src="../../assets/icons/icon-144x144.png" alt="" width="144" height="144">
    <div class="col-lg-8 mx-auto">
      <h1 class="display-5 fw-bold text-center">Homepage</h1>
      <p class="fs-6 mb-4">
        Willkommen auf meiner Webseite! Ich bin noch kein professioneller Webdesigner, 
        aber ich bin dabei, meine Fähigkeiten zu verbessern und meine Kenntnisse zu erweitern. 
        Auf dieser Seite möchte ich meine bisherigen Arbeiten präsentieren und Ihnen einen 
        Einblick in mein Können geben. Sie werden sehen, dass ich mich auf die Erstellung von responsiven 
        und benutzerfreundlichen Websites spezialisiert habe.<br><br> Auf meiner Seite finden Sie auch Tutorials, 
        die Ihnen helfen werden, Ihre eigene Website zu erstellen oder bestehende Websites zu verbessern. 
        Ich gebe Ihnen Tipps und Tricks, die ich während meiner Arbeit gelernt habe, und erkläre 
        Ihnen die wichtigsten Aspekte des Webdesigns.<br><br> Ich bin immer offen für Feedback und 
        Anregungen und freue mich darauf, von Ihnen zu hören. Schauen Sie sich gerne um und zögern 
        Sie nicht, mich zu kontaktieren, wenn Sie Fragen haben oder Hilfe bei der Erstellung Ihrer eigenen Website benötigen.
      </p>
    </div>
  </div>