<h1>Wilkommen</h1>
<app-card></app-card>

<div class="px-4 py-5 my-5 text-center">
    <!--<img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
    <h1 class="display-5 fw-bold">Webdesign</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Webdesign bezieht sich auf den Prozess der Erstellung und Gestaltung von Websites. Er umfasst eine Vielzahl von Fähigkeiten und Technologien, darunter HTML, CSS, JavaScript und mehr. In der digitalen Welt von heute ist eine starke Online-Präsenz für Unternehmen, Organisationen und Einzelpersonen unerlässlich. Eine gut gestaltete Website kann dazu beitragen, Glaubwürdigkeit zu schaffen, Kunden zu gewinnen und zu binden und die allgemeinen Unternehmensziele zu unterstützen.

    Zu einem effektiven Webdesign gehört die Erstellung einer benutzerfreundlichen und optisch ansprechenden Website, die den Bedürfnissen der Zielgruppe entspricht. Sie sollte einfach zu navigieren sein, mit klaren Handlungsaufforderungen und einem einheitlichen Design auf allen Seiten. Ein gutes Webdesign kann auch zur Verbesserung der Suchmaschinenoptimierung (SEO) beitragen, so dass eine Website über Suchmaschinen wie Google leichter gefunden werden kann.
    
    Insgesamt spielt das Webdesign eine entscheidende Rolle dabei, wie Menschen ein Unternehmen oder eine Organisation online wahrnehmen und mit ihr interagieren. Durch Investitionen in hochwertiges Webdesign können Unternehmen und Organisationen eine starke und professionelle Online-Präsenz schaffen, die ihre Ziele unterstützt und ihnen hilft, sich in einer überfüllten digitalen Landschaft abzuheben.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>


<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Angular</h1>
        <p class="lead">
            Angular ist ein beliebtes Open-Source-JavaScript-Framework, das von Google entwickelt und gepflegt wird. Es ist für die Erstellung von Single-Page-Applikationen (SPAs) konzipiert und verfügt über eine breite Palette von Funktionen, die die Erstellung komplexer, interaktiver Webanwendungen erleichtern.

    Einer der Hauptvorteile von Angular ist seine komponentenbasierte Architektur, die es Entwicklern ermöglicht, wiederverwendbare Komponenten zu erstellen, die problemlos in verschiedenen Teilen einer Anwendung verwendet werden können. Dies erleichtert die Erstellung und Wartung umfangreicher Anwendungen und ermöglicht eine effizientere Zusammenarbeit zwischen Teams.
    
    Neben der komponentenbasierten Architektur bietet Angular eine Reihe weiterer Funktionen, die es zu einem leistungsstarken Framework für die Erstellung von Webanwendungen machen. Dazu gehören ein integriertes System zur Injektion von Abhängigkeiten, Unterstützung für reaktive Programmierung und ein leistungsstarkes Templating-System, mit dem Entwickler dynamische und interaktive Benutzeroberflächen erstellen können.
    
    Angular ist auch für seine starke Testunterstützung bekannt, mit einer Vielzahl von Tools und Bibliotheken, die Entwicklern helfen, hochwertigen Code zu schreiben und zu pflegen. Angular ist außerdem gut dokumentiert und verfügt über eine große und aktive Gemeinschaft von Entwicklern, die zu dem Framework beitragen und ihr Wissen und ihre Erfahrung weitergeben.
    
    Insgesamt ist Angular ein leistungsstarkes und funktionsreiches Framework, das sich gut für die Entwicklung komplexer und interaktiver einseitiger Anwendungen eignet. Seine komponentenbasierte Architektur, die starke Unterstützung von Tests und die große Bandbreite an Funktionen machen es zu einer beliebten Wahl unter Entwicklern.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <!--<img class="rounded-lg-3" src="bootstrap-docs.png" alt="" width="720">-->
      </div>
    </div>
  </div>

