
<div class="px-4 py-5 my-5 text-center">
    <!--<img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
    <div class="col-lg-6 mx-auto">
      <h1 class="display-5 fw-bold">Wilkommen</h1>
      <p class="lead mb-4">
        Wir sind spezialisiert auf die Erstellung von professionellen und benutzerfreundlichen Websites. Egal, ob Sie eine neue Website für Ihr Unternehmen benötigen oder Ihre bestehende Website auf den neuesten Stand bringen möchten – wir sind der richtige Ansprechpartner für Sie.

        Unser Team besteht aus erfahrenen Webdesignern und -entwicklern, die sich stetig weiterbilden, um Ihnen immer das bestmögliche Ergebnis zu liefern. Wir setzen auf moderne Technologien und achten darauf, dass Ihre Website gut auf Suchmaschinen wie Google gefunden wird.
        
        Neben der Erstellung von Websites bieten wir auch Dienstleistungen wie die Erstellung von Landingpages, Online-Shops und die Optimierung Ihrer Webpräsenz für mobile Endgeräte an.
        
        Kontaktieren Sie uns noch heute und lassen Sie uns gemeinsam Ihr perfektes Webprojekt realisieren!
      </p>
      <!--<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
      </div>-->
    </div>
  </div>


<!--<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Angular</h1>
        <p class="lead">
            Angular ist ein beliebtes Open-Source-JavaScript-Framework, das von Google entwickelt und gepflegt wird. Es ist für die Erstellung von Single-Page-Applikationen (SPAs) konzipiert und verfügt über eine breite Palette von Funktionen, die die Erstellung komplexer, interaktiver Webanwendungen erleichtern.

    Einer der Hauptvorteile von Angular ist seine komponentenbasierte Architektur, die es Entwicklern ermöglicht, wiederverwendbare Komponenten zu erstellen, die problemlos in verschiedenen Teilen einer Anwendung verwendet werden können. Dies erleichtert die Erstellung und Wartung umfangreicher Anwendungen und ermöglicht eine effizientere Zusammenarbeit zwischen Teams.
    
    Neben der komponentenbasierten Architektur bietet Angular eine Reihe weiterer Funktionen, die es zu einem leistungsstarken Framework für die Erstellung von Webanwendungen machen. Dazu gehören ein integriertes System zur Injektion von Abhängigkeiten, Unterstützung für reaktive Programmierung und ein leistungsstarkes Templating-System, mit dem Entwickler dynamische und interaktive Benutzeroberflächen erstellen können.
    
    Angular ist auch für seine starke Testunterstützung bekannt, mit einer Vielzahl von Tools und Bibliotheken, die Entwicklern helfen, hochwertigen Code zu schreiben und zu pflegen. Angular ist außerdem gut dokumentiert und verfügt über eine große und aktive Gemeinschaft von Entwicklern, die zu dem Framework beitragen und ihr Wissen und ihre Erfahrung weitergeben.
    
    Insgesamt ist Angular ein leistungsstarkes und funktionsreiches Framework, das sich gut für die Entwicklung komplexer und interaktiver einseitiger Anwendungen eignet. Seine komponentenbasierte Architektur, die starke Unterstützung von Tests und die große Bandbreite an Funktionen machen es zu einer beliebten Wahl unter Entwicklern.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <!--<img class="rounded-lg-3" src="bootstrap-docs.png" alt="" width="720">
      </div>
    </div>
  </div>-->

